<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Kalkulator</title>

        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        <h1>PRETVORNIK ENOT</h1>

        <p>Količina:</p>
        <form method="post" action ="/rezultat">
            <input name="vnos1">

            <p>Osnovna dolžinska merska enota (m, dm, cm, mm):</p>
            <input name="vnos2">

            <p>Izberi v katero dolžinsko mersko enoto želiš pretvorbo (m, dm, cm, mm):</p>

            <input name="vnos3">
            <button type="submit">Izracunaj</button>
        </form>

    </body>
</html>






